.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 400px;
    padding: 20px;
    margin: 15px;
    border: 3px solid rgb(133, 29, 36);
    border-radius: 10px;
    background: linear-gradient(3600deg,rgb(255, 140, 165), rgb(255, 255, 203));
    box-shadow: 3px 2px 5px rgb(91, 28, 64);
}

.item{
    color: rgb(90, 14, 70);
    padding: 5px;
    border: 3px solid rgb(133, 29, 36);
    border-radius: 5px;
    flex: 0 0 25%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

a {
    color: #331670; /* Default link color */
    text-decoration: none; /* Remove underline by default */
    transition: color 0.3s ease, text-decoration 0.3s ease; /* Smooth transition effect */
  }
  
  a:hover {
    color: #b62808; /* Change color on hover */
    text-decoration: underline; /* Underline link on hover */
  }